*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

h1{
  font-size: 100px;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

header {
  display: flex;  
  min-width: 1052px;
  min-height: 105px;
  padding: 92px 24px 96px 24px;

}

li {
  font-size: 18px;
}

ul {
  display: list-item;
}