/* ---------- Header ---------- */
.menu-header {
  display: flex;
  width: 391px;
  height: 22px;
  text-wrap: nowrap;
  align-items: center;
  gap: 32px;
  margin: 44px 36px 39px 26px;
  justify-content: space-between;
/*Making bullets in list white inside*/
  list-style-image: url(/images/list_marker.svg);
}

.logo-black {
  width: 148px;
  height: 105px;
}

.contacts-header {
  margin: 5px 25px 0px 186px;
  font-size: 18px;
  list-style: none;
  width: 240px;
  height: 98px;
  line-height: 25px;
}

.phone {
  text-decoration: underline;
}

.email {
  text-decoration: underline;
}

.address {
  text-wrap: wrap;
}
/* ---------- Блок со словами "ОНО ТЕБЕ НАДО" внутри картины ---------- */
.cover-picture {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 757px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  margin: 0 0 179px;
}

.text-over-image {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 355px;
  margin: 165px 50px 0 50px;
}


/* Первое слово "ОНО" */
.title-first-word {
  letter-spacing: 0.3em;
}

.first-letters {
  letter-spacing: 0.6em;
}

/* Второк слово "ТЕБЕ" */
.title-second-word {
  display: flex;
  margin: 10px 0 0 0;
  align-self: center;
  letter-spacing: 0.3em;
}

.second-letters {
  position: relative;
  letter-spacing: 0.6em;
}

/* Первое слово "НАДО" */
.title-third-word {
  align-self: flex-end;
  /* letter-spacing: 0.6em; */
}

.letter-with-spacing {
  letter-spacing: 0.6em;
}

.third-letters {
  letter-spacing: 0.3em;
}

/* Описание */
.description {
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 20px;
  margin: 147px 79px 62px 78px;
}

.description-wider-text {
  word-spacing: 18px;
}

/* Кнопка сделать ставку */
.place-bid-button-area {
  display: flex;
  min-width: 256px;
  height: 51px;
  border: 1px;
  margin: 134px 0 0 0;
}

.place-bid-button {
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 32px;
  border: 1px solid white;
}

/* ---------- Раздел карточек ---------- */

.lots-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* min-width: 1052px;
  min-height: 692px; */
  margin: 0 24px 146px 24px;
}

/* Надпись над картами */
.lots-text {
  margin: 0 100% 27px 40px;
  font-size: 40px;
  font-weight: 700;
}

/* Первая карта */
.first-card {
  display: flex;
  width: 334px;
  height: 563px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/card-lot-01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  flex-wrap: wrap;
}

/* Заголовки карт */
.card-headline {
  font-size: 22px;
  font-weight: 700;
  margin: 51px 40px 0 40px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}

/* Текст карт */
.card-text {
  font-size: 20px;
  font-weight: 400;
  margin: auto 40px 48px 40px;
}

/* Вторая карта */
.second-card {
  display: flex;
  width: 334px;
  height: 563px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/card-lot-02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  flex-wrap: wrap;
}

/* Третья карта */
.third-card {
  display: flex;
  width: 334px;
  height: 563px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/card-lot-03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  flex-wrap: wrap;
}

/* Кнопка показать больше */
.view-more-button {
  margin: 30px auto 2px 40px;
  font-size:20px;
  text-underline-offset: 5px;
}

.view-more-button-text {
  text-decoration-thickness: 1px;
}

/* ---------- Раздeл об аукционе ---------- */

.about {
  display: flex;
  width: 1052px;
  height: 595px;
  margin: 0 0 180px 0;
}

/* Логотип */
.logo-white-space {
  display: flex;
  margin: 35px 72px 0 71px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
  align-items: center;
}

.logo-white {
  width: 240px;
  height: 114px;
}

/* Текст об аукционе */
.about-auction-information {
  display: flex;
  margin: 133px 0 0 0;
  flex-wrap: wrap;
  width: 693px;
}

.about-auction-inforamtion-headline {
  margin-bottom: 100px;
  width: 100%;
  font-size: 40px;
  text-wrap: nowrap;
  text-transform: uppercase;
}

.first-paragraph {
  letter-spacing: 0.004em;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-bottom: 25px;
}


.second-paragraph {
  text-wrap: nowrap;
  letter-spacing: 0.004em;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

/* ---------- Footer ---------- */

.footer {
  display: flex;
  margin: 0 50px 88px 50px;
  width: 1000px;
  justify-content: space-between;
}

/* Навигационное меню */
.menu-footer {
  display: flex;
  flex-wrap: wrap;
  width: 149px;
  justify-content: center;
  
/*Making bullets in listinvisible*/
  list-style: none;
}

.main-button {
  text-underline-offset: 4px;
}

.lots-button {
  text-underline-offset: 4px;
}

.about-button {
  text-underline-offset: 4px;
}

/* Контакты */
.contacts-footer {
  font-size: 18px;
  list-style: none;
  width: 240px;
  height: 98px;
  line-height: 25px;
}

/* Соц-сети */
.socials {
  display: flex;
  gap: 48px;
}
.youtube-image {
  width: 48px;
  height: 48px;
}

.vk-image {
  width: 48px;
  height: 48px;
}

.pinterest-image {
  width: 48px;
  height: 48px;
}

/* Кнопки перехода на разные элементы страницы меняются при наведении на них */
.main-button:hover {
  text-decoration: none;
  list-style: none;
}

.lots-button:hover {
  text-decoration: none;
  list-style: none;
}

.about-button:hover {
  text-decoration: none;
  list-style: none;
}